*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}


body{
    font-size: 15px;
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: url('philcoin_background.jpeg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 80% 20%;
    overflow: hidden;
}

.navbar{
    display: flex;
    align-items: center;
}

.nav-ul{
    display: flex;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: ;
    margin-left: auto;
}

.nav-ul li {
    padding: 10px 10px;
}

a {
    text-decoration: none;
}

.nav-logo{
    padding: 30px;
    flex-shrink: 2;
    display: inline-block;
}
.menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 0;
  transition:1s ease;
  z-index: 1;
  background-color: rgba(0,0,0,0.45);
  
}


.menu ul {
    margin-top: 50px;
}
.menu ul li{

    padding: 10px;
}

.burger-icon {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  z-index: 2;
  padding: 8px 0;
  top: auto;
    right: 50px;
  user-select: none;
  width: auto;
  margin: 0;
}

.burger-icon .burger-sticks {
  background: gray;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 30px;
}

.burger-icon .burger-sticks:before,
.burger-icon .burger-sticks:after {
  background: gray;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.burger-icon .burger-sticks:before {
  top: 10px;
}

.burger-icon .burger-sticks:after {
  top: -10px;
}

.burger-check {
  display: none;
}

.burger-check:checked~.menu {
  max-width: 200px;
  display: block;
}

.burger-check:checked~.burger-icon .burger-sticks {
  background: transparent;
}

.burger-check:checked~.burger-icon .burger-sticks:before {
  transform: rotate(-45deg);
}

.burger-check:checked~.burger-icon .burger-sticks:after {
  transform: rotate(45deg);
}

.burger-check:checked~.burger-icon:not(.steps) .burger-sticks:before,
.burger-check:checked~.burger-icon:not(.steps) .burger-sticks:after {
  top: 0;
}


.burger-ul {
    list-style: none;
}
.burger-ul li a{
    cursor: pointer;
    color: white;
}


@media(max-width: 990px) {
    * {
        font-size: 10px;
    }
    
    .nav-ul {
        visibility: hidden;
        display: none;
    }
    
}